<div class='heading'>
  <br><br>
<h1>Booking Requests</h1>
</div>
<br><br>
<div class="row text-black">
  <div class="col-md-8  mx-auto text-center form p-4">
    <div class="px-2">
      <div class='form'>
        <div class="list-group">
          <% if @requests.size > 0 %>
            <p>
              Please select <strong>Accept</strong> or <strong>Decline</strong>
            </p>
            <% @requests.each do |request| %>
            <a href="/<%= request.space_id %>/space_details" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">SPACE: <%= request.host_name %>"s <%= request.space.name %></h5>
                <h6>Status: <%= request.status %> </h6>
                <br>
                 <h6>Guest: <%= request.guest_name %> (<%= request.guest_email %>) </h6>
                <br>
                <% if request.status == 'UNCONFIRMED' %>
                  <form action="/request/accept/<%= request.id %>" method="post">
                    <input id="hidden" type="hidden" name="_method" value="patch">
                    <button type='submit' formaction="/request/accept/<%= request.id %>">Accept</button>
                  </form>
                  <form action="/request/decline/<%= request.id %>" method="post">
                    <input id="hidden" type="hidden" name="_method" value="patch">
                    <button type='submit' formaction="/request/decline/<%= request.id %>">Deny</button>
                  </form>
                <% else %>
                  <form action="/request/undo/<%= request.id %>" method="post">
                    <input id="hidden" type="hidden" name="_method" value="patch">
                    <button type='submit' formaction="/request/undo/<%= request.id %>">Undo</button>
                  </form>
                <% end %>
              </div>
            </a>
            <br>
            <% end %>
          <% else %>
            <h4>You have no requests to view</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
