<div class='heading'>
  <br><br>
<h1>Your bookings</h1>
</div>
<br><br>
<div class="row text-black">
  <div class="col-md-8  mx-auto text-center form p-4">
    <div class="px-2">
      <div class='form'>
        <div class="list-group">
          <% if @stays.size > 0 %>
            <% @stays.each do |stay| %>
              <a href="/<%= stay.space_id %>/space_details" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= stay.host_name %>'s place</h5>
                  <h6>Status: <%= stay.status %></h6>
                  <h6>Dates: <%= stay.start_date %> - <%= stay.end_date %></h6>
                  <!-- <input type="button" value="delete"> -->

                  <form action="/request/cancel/<%= stay.id %>" method="post">
                    <input type='hidden' name='_method' value='DELETE'/>
                    <input type="submit" value="Delete" />
                  </form>
                </div>
              </a>
            <% end %>
          <% else %>
            <h4>You have no requests to view</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
<div style="margin: 0 auto; width: 600px; height: auto; border-radius:15px; border: 5px solid black; padding: 10px;">
  <% @stays.each do |request| %>
    <% if request.status == 'ACCEPTED' %>
      <% request.messages.each do |message| %>
        <b><%=  message.poster_name %></b> posted: <%= message.content %> on <%= message.published %>
        <br>
      <% end %>
      <br><br>
      <form action="/<%= @user.id %>/<%= request.id %>/message/new/stays" method="post">
        <label for="content">Respond</label>
        <input type='text' name='content' id=content>
        <input type='submit' value='Submit'>
      </form>
    <% end %>
  <% end %>
</div>
